#virtal env 
rext/

#example output from fetch1 for countries api
output_countries_api.csv

#test outputs 
output_simple.csv
output_paginated_new.csv
output_starwars_paginated.csv
output_pokemon_offset.csv
output_posts_offset.csv